@import "../../styles/base/settings";


.Button {
  margin-bottom: $s-size;
}

.UseCaseCard {
  border: 1px solid $light-blue;
  margin: $s-size;
  padding: 0 $m-size;
}

.Logo
.Title {
  font-weight: 300;
  margin: 0;
  text-align: center;
}