@import "../../../styles/base/settings";

.Header {
    margin-bottom: 20px;
}


.Nav {
    width: 100%;
    height: 64px;
    padding: 10px;
    background-color: white;
}

.Logo {
    font-size: 28px;
}

img {
    height: 25%;
    width: 25%;
    padding: auto;
}

// Link list
.Links > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.Links > ul > li {
    margin-left: 24px;
}

.login {
    font-style: italic;
}


// User Details
.User {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.User > .Actions {
    margin-top: 4px;
}

.User > .Actions > *:hover {
    color:$light-blue;
}

.User > .Info {
    display: flex;
    margin-left: 20px;
}

.User > .Info > p {
    margin-left: 10px;
}
