.usecase_button {
  margin-bottom: $s-size;
}

.usecase_container {
  border: 1px solid $light-blue;
  margin: $s-size;
  padding: 0 $m-size;
}

.usecase_title {
  font-weight: 300;
  margin: 0;
  text-align: center;
}