// colours
$off-black: #20222b;
$off-white: #a5afd7;

$blue: #3c4251;
$dark-blue: #364051;
$light-blue: #464b5e;

$purple: #8357c5;

$dark-grey: #333333;
$blue: #1c88bf;

// Font Size
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
